@media only screen and (min-width: 38rem) {
  #menu-button {
    display: none;
  }

  nav {
    position: initial;
    display: block;
    display: grid;
    grid-template-columns: auto auto;
  }

  #nav-menu-list,
  #nav-menu-list.menu-open {
    display: flex;
    justify-content: right;
    top: 0px;
  }

  .main-section-row-two {
    grid-row: 2/3;
    grid-column: 2/4;
    display: flex;
    height: 25rem;
  }

  .main-section-row-three {
    grid-row: 3/4;
    grid-column: 2/4;
    display: flex;
    height: 25rem;
  }
}
