@media only screen and (min-width: 48rem) {
  #menu-button {
    display: none;
  }

  nav {
    position: initial;
    display: block;
    display: grid;
    grid-template-columns: auto auto;
  }

  main.discover-main img:hover {
    transform: scale(1.1);
  }

  #nav-menu-list,
  #nav-menu-list.menu-open {
    display: flex;
    justify-content: right;
    top: 0px;
  }

  .main-section-row-two {
    grid-row: 2/3;
    grid-column: 2/4;
    display: flex;
    height: 25rem;
  }

  .main-section-row-three {
    grid-row: 3/4;
    grid-column: 2/4;
    display: flex;
    height: 25rem;
  }

  main.discover-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 2/4;
    margin-top: 0px;
  }
  .discover-right-sidebar {
    grid-row: 3/4;
    grid-column: 4/5;
    height: auto;

    background-color: var(--paragraph-background-color);
  }
}
