@media only screen and (min-width: 48rem) {
  .card {
    margin-bottom: 2rem;
    max-width: 30rem;
    margin-left: 5rem;
  }
  .card img {
    height: 25rem;
    width: 25rem;
  }
  .card-section {
    margin-top: 5rem;
  }

  #silver-ad,
  #gold-ad {
    margin-top: 5rem;
    width: 25rem;
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 5%;
    padding: 0.5rem;
    height: 20rem;
  }

  .hero {
    grid-row: 1/2;
    grid-column: 1/5;
    height: 18rem;
    margin-left: -2rem;
  }

  #chamber-meeting-ad {
    padding-left: 2rem;
  }

  #hero-image img {
    margin-right: 0px;
    width: auto;
  }

  footer {
    width: auto;
  }

  #menu-button {
    display: none;
  }

  nav {
    position: initial;
    display: block;
    display: grid;
    grid-template-columns: auto auto;
  }

  #nav-menu-list,
  #nav-menu-list.menu-open {
    display: flex;
    justify-content: right;
    top: 0px;
  }

  .main-section-row-two {
    grid-row: 2/3;
    grid-column: 2/4;
    display: flex;
    height: 25rem;
  }

  .index-main .card {
    width: 25rem;
  }

  .main-section-row-three {
    grid-row: 3/4;
    grid-column: 2/4;
    display: flex;
    height: 25rem;
  }

  .main-section-row-four {
    grid-row: 4/5;
    grid-column: 2/4;
    display: flex;
    height: 25rem;
    margin-bottom: 10rem;
  }

  .weather-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .weather-widget {
    margin-left: 0.5rem;
  }

  .weather-widget h3 {
    font-family: var(--heading-font);
  }

  .weather-card h2 {
    grid-column: 1/4;
  }

  #weather-now {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #weather-tomorrow {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #weather-day-three {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  #hero-image {
    display: block;
  }
}

@media only screen and (min-width: 70rem) {
  main.discover-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 2/4;
    margin-top: 0px;
  }
  .discover-right-sidebar {
    grid-row: 3/4;
    grid-column: 4/5;
    height: auto;

    background-color: var(--paragraph-background-color);
  }

  main.discover-main img:hover {
    transform: scale(1.1);
  }

  main.discover-main figure img {
    margin-top: 0.5rem;
  }

  main.discover-main figure figcaption {
    margin-bottom: 2rem;
  }
}
