@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  /* change the values below to your colors from your palette */

  --primary-color: #2f5061;
  --secondary-color: #03182e;
  --font-on-dark: #f4eae6;
  --font-on-light: #03182e;
  --highlight-color: #f88379;
  --primary-background-color: #751100;

  /* change the values below to your chosen font(s) */
  --heading-font: "Exo 2", Arial, sans-serif;
  --paragraph-font: "Quicksand", Helvetica, sans-serif;
}

a {
  font-family: var(--paragraph-font);
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--highlight-color);
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  font-family: var(--paragraph-font);
  background-color: var(--primary-background-color);
  color: var(--font-on-dark);
  font-size: medium;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--heading-font);
  font-size: x-large;
  background-color: var(--secondary-color);
  color: var(--font-on-dark);
  grid-row: 1/2;
  padding: 1rem;
}

nav div {
  display: block;
}

nav div a {
  text-decoration: none;
}

header {
  background-color: var(--primary-color);
  color: var(--font-on-dark);
  padding: 2rem;
  grid-row: 2 / 3;
}
h1,
h2 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
}

main {
  height: 100%;
  grid-row: 3/4;
}

footer {
  font-family: var(--heading-font);
  text-align: center;
  grid-row: 4/ 5;
  background-color: var(--secondary-color);
}

.header-icon {
  height: 35px;
}

.no-bullet-list {
  list-style: none;
}

.card {
  border-style: solid;
  border-radius: 10%;
  padding: 5px;
  margin: 10px;
}

.card h3 {
  background-color: var(--primary-color);
}

.dark-font {
  color: var(--font-on-light);
}

.light-font {
  color: var(--font-on-dark);
}
.highlight {
  color: var(--highlight-color);
}
