@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  /* change the values below to your colors from your palette */

  --primary-color: #77966d;
  --secondary-color: #c06e52;
  --font-on-dark: #f5e4d7;
  --font-on-light: #626d58;
  --highlight-color: #30c5ff;
  --primary-background-color: #f5e4d7;

  /* change the values below to your chosen font(s) */
  --heading-font: "Exo 2", Arial, sans-serif;
  --paragraph-font: "Quicksand", Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto auto auto auto;
}
.temple-picture {
  grid-row: 1/2;
}

.content-cards {
  grid-row: 2/3;
}

.map {
  margin-top: 2rem;
  grid-row: 3/4;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  font-family: var(--heading-font);
  font-size: 2rem;
  background-color: var(--secondary-color);
  color: var(--font-on-dark);
  padding: 1rem;
  grid-row: 1/2;
}

nav button {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

nav img {
  width: 2rem;
  height: auto;
}

nav div a {
  text-decoration: none;
}

nav ul.opened {
  display: block;
}

.navigation {
  position: absolute;
  top: 60px;
  right: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: var(--primary-color);
  background-color: var(--primary-background-color);
  color: var(--font-on-light);
  display: none;
}

.navigation a {
  font-family: var(--heading-font);
  color: var(--font-on-light);
  font: 1rem;
  text-decoration: none;
}

.navigation a:hover {
  color: var(--highlight-color);
}

.responsive .menu::before {
  content: "☓";
}

.menu::before {
  content: "☰";
  font-size: 1.5rem;
}

.responsive {
  display: block;
}

.responsive li {
  display: block;
}

#mode {
  text-decoration: none;
}

.highlight {
  color: var(--highlight-color);
}

header {
  background-color: var(--primary-color);
  font-family: var(--heading-font);
  color: var(--font-on-dark);
  padding-top: 2rem;
  padding-left: 2rem;
  grid-row: 2/3;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  padding: 4rem 4rem;

  grid-row: 3/4;
}
#temple-label {
  position: absolute;
  top: 525px;
  left: 285px;
  background: radial-gradient(#fff, #4d5b97);
  border-style: solid;
  border-radius: 10%;
  border-width: 1px;
  border-color: var(--font-on-light);
  padding: 1.5rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
  color: var(--font-on-light);
}
footer {
  font-family: var(--heading-font);
  text-align: center;
  grid-row: 4 / 5;
  background-color: var(--secondary-color);
  color: var(--font-on-dark);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 20px auto;
  border: solid;
  border-width: 2px;
  border-color: var(--font-on-light);
  padding: 30px;
  margin: 10px;
}

.card h3 {
  grid-row: 1/2;
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
  color: var(--font-on-dark);
  height: 30px;
}

.card .card-content {
  grid-row: 2/3;
  font-family: var(--paragraph-font);
}
