
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    /* change the values below to your colors from your palette */

    --primary-color: #2F5061;
    --secondary-color: #03182E;
    --font-on-dark: #F4EAE6;
    --font-on-light: #03182E;
    --highlight-color:#F88379;
    --primary-background-color:#751100;

    /* change the values below to your chosen font(s) */
    --heading-font: "Exo 2", Arial, sans-serif;
    --paragraph-font: "Quicksand", Helvetica, sans-serif;


}

a{
    font-family: var(--paragraph-font);
    color:inherit;
}

a:visited{
  color:inherit;
}

a:hover{
  color: var(--highlight-color);
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto auto 1fr auto / auto;
    font-family: var(--paragraph-font);
    background-color: var(--primary-background-color);
    color: var(--font-on-dark);
    font-size: medium;
  }

nav {
    font-family: var(--heading-font);
    font-size: large;
    background-color: var(--secondary-color);
    color: var(--font-on-dark);
    grid-row: 1/2;
    padding: 1rem;
  }

  header {
    background-color: var(--primary-color);
    color: var(--font-on-dark);
    padding: 2rem;
    grid-row: 2 / 3;
  }
  h1, h2 {
    
    font-family: var(--heading-font);
  }

  p{
    font-family: var(--paragraph-font);
    
  }

main {
    grid-column: 1 / 2;
    height: 100%;
    padding: 1rem;
  }

footer {
    font-family: var(--heading-font);
    padding: 2rem;
    text-align: center;
    grid-row: 4/ 5;
    background-color: var(--secondary-color);
  }

  .header-icon{
    max-width: 35px;
  }

  .no-bullet-list{
    list-style: none;
  }

  .card{
    border-style: inset;
  }

  .dark-font{
    color: var(--font-on-light);
  }

  .light-font{
    color: var(--font-on-dark);
  }
  .highlight{
    color: var(--highlight-color);
  }

  