@media only screen and (min-width: 40rem) {
  nav div {
    padding: 1rem 2rem;
  }

  .content-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
  }

  .content-cards h2 {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .learn-section {
    grid-row: 2/4;
    grid-column: 1/2;
  }

  .project-section {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .information-section {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  nav button {
    display: none;
  }
  .navigation {
    position: initial;
    display: flex;
    justify-content: flex-end;
    border-style: none;
    background-color: var(--secondary-color);
    color: var(--font-on-dark);
  }

  nav ul li {
    padding-left: 1rem;
  }

  nav ul.opened {
    display: flex;
    justify-content: flex-end;
  }

  .navigation a {
    color: var(--font-on-dark);
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 2;
  }

  main h2 {
    grid-column: 1 / span 2;
  }
}
